[submodule "Test/libraries"]
	path = Test/libraries
	url = https://github.com/dafny-lang/libraries.git
[submodule "Source/DafnyDriver/ContractChecking"]
	path = Source/DafnyDriver/ContractChecking
	url = https://github.com/xbreu/ContractChecking
